@tailwind base;
@tailwind components;
@tailwind utilities;

.page-padding {
    padding: 50px;
    width: 100%;
}

.main-article {
    text-align: center;
}

.related-articles {
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.soc-buttons {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.footer {
    border-top: inset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.setting-margins {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
}

.setting-right {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.children-padding {
    padding: 10px;
}

.items-padding {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

